@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
  
:root  {
  --background: 42 100% 95%;
  --foreground: 42 5% 0%;
  --card: 42 50% 90%;
  --card-foreground: 42 5% 10%;
  --popover: 42 100% 95%;
  --popover-foreground: 42 100% 0%;
  --primary: 42 100% 47.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 30% 70%;
  --secondary-foreground: 0 0% 0%;
  --muted: 4 30% 85%;
  --muted-foreground: 42 5% 35%;
  --accent: 4 30% 80%;
  --accent-foreground: 42 5% 10%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 30% 50%;
  --input: 42 30% 18%;
  --ring: 42 100% 47.5%;
  --radius: 0.5rem;
}
.dark  {
  --background: 42 50% 5%;
  --foreground: 42 5% 90%;
  --card: 42 50% 0%;
  --card-foreground: 42 5% 90%;
  --popover: 42 50% 5%;
  --popover-foreground: 42 5% 90%;
  --primary: 42 100% 47.5%;
  --primary-foreground: 0 0% 100%;
  --secondary: 42 30% 10%;
  --secondary-foreground: 0 0% 100%;
  --muted: 4 30% 15%;
  --muted-foreground: 42 5% 60%;
  --accent: 4 30% 15%;
  --accent-foreground: 42 5% 90%;
  --destructive: 0 100% 30%;
  --destructive-foreground: 42 5% 90%;
  --border: 42 30% 18%;
  --input: 42 30% 18%;
  --ring: 42 100% 47.5%;
  --radius: 0.5rem;
}

}


@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Track color (gray) */
}

::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Thumb color (blue) */
  border-radius: 3px;
}

.padding {
  @apply px-5 sm:px-10 md:px-24 lg:px-32 xl:px-52 2xl:px-96;
}